
body, html {
    margin:0;
    padding:0;
}

body {
    width: 300px;
    min-height: 400px;
}

#searchbox {
/*    background-color: pink;*/
    padding:0;
    margin: 20px 10%;
    width:63%;
    height: 40px;
    border:none;
    border-bottom: 1px solid grey;
    font-size: 1.3em;
    padding-left: 50px;

    background-image:url('search.jpg');
    background-repeat:no-repeat;
    background-position:left center;outline:0;
}

#searchbox:active, #searchbox:focus {
    outline: none;
}

#extensions {
    width:104%;
}

.extBlock {
    width:39vw;
    min-height: 42vw;
/*    background-color: lightgrey;*/
    float: left;
    padding:0;
    margin: 5vw;
    text-align: center;
/*    border:0.5vw solid grey;*/
/*    -webkit-box-shadow: 0px -1px 16px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -1px 26px 3px rgba(0,0,0,0.3);
    box-shadow: 0px -1px 16px 3px rgba(0,0,0,0.3);
    border-radius: 5px;*/
}

.extBlock img {
    width:48px;
    height:48px;
    margin-top:10px;
}

.extName {
    height:30px;
    overflow: hidden;
}
.extToggle {
    text-align: center;
}

.state {
    color:grey;
}



